html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Arial, Geneva, sans-serif;
  color: white;
  background-color: #0fffeb;
  text-align: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gameboard {
  width: 80%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 0;
  margin-top: 10%;
  padding-bottom: 40%;
}

.game-section {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: 0;
  border: 2px solid blue;
  padding-bottom: 24.75%;
}

.console {
  width: 40%;
  padding-bottom: 10%;
  height: 0;
  border-radius: 50%;
  background-color: #ff9ef9;
  z-index: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.lit {
  -webkit-filter: brightness(6.5);
          filter: brightness(6.5);
}

[id="0"] {
  background-color: #04be28;
}

[id="1"] {
  background-color: #fa3c1e;
}

[id="2"] {
  background-color: #fae01e;
}

[id="3"] {
  background-color: #1e7afa;
}

#start {
  width: 10rem;
  height: 2rem;
  margin-top: 1rem;
  background-color: #01665e;
  color: lightblue;
  border-radius: 10px;
  border-style: none;
}
