html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  background-color: #d5f0cd;
  text-align: center;
  color: #222f78;
  letter-spacing: .16em;
  font-size: 20px;
}

h3 {
  margin: .5em auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameboard {
  width: 40%;
  background-color: #222f78;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 0;
  padding-bottom: 34%;
  margin-bottom: 1em;
  border-radius: 50%;
  border: .25em solid transparent;
  -webkit-box-shadow: 0.1em 0.1em 1em #222f78;
          box-shadow: 0.1em 0.1em 1em #222f78;
  outline: 0.2em solid #222f78;
  outline-offset: .12em;
}

.game-section {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding-bottom: 42.5%;
  border-top-left-radius: 100%;
  -webkit-box-shadow: inset 0.1em 0.1em 1em 0.25em rgba(0, 0, 0, 0.75);
          box-shadow: inset 0.1em 0.1em 1em 0.25em rgba(0, 0, 0, 0.75);
}

.game-section:hover {
  cursor: pointer;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: 900;
  font-size: 1.8em;
}

.modal button {
  width: 10em;
  padding: 1em;
  padding-bottom: 2em;
}

.modal-content {
  margin-top: 10rem;
}

.tooltip {
  position: relative;
  display: block;
  font-size: .9em;
  margin: 1em;
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  bottom: 10%;
  left: -250%;
  width: 550%;
  padding: 2em;
  border-radius: 1em;
  background: #222f78;
  color: #a6d6ff;
  text-align: center;
  font-weight: 200;
  font-size: 1em;
  -webkit-filter: opacity(0.95);
          filter: opacity(0.95);
  white-space: pre-line;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

#gameOverModal {
  display: none;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.75);
}

#gameStatus {
  font-size: 1.6em;
}

[id="0"] {
  background-color: rgba(4, 190, 40, 0.9);
  z-index: 2;
}

[id="1"] {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  background-color: rgba(250, 60, 30, 0.9);
}

[id="2"] {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  background-color: rgba(250, 224, 30, 0.9);
}

[id="3"] {
  -webkit-transform: scaleY(-1) scaleX(-1);
          transform: scaleY(-1) scaleX(-1);
  background-color: rgba(30, 122, 250, 0.9);
}

.lit {
  -webkit-filter: brightness(3);
          filter: brightness(3);
}

button {
  width: 10em;
  height: 2.25em;
  margin: 1em;
  background-color: #222f78;
  color: #a6d6ff;
  border-radius: 1em;
  border-style: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  letter-spacing: .05em;
  font-size: 1.5em;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
}

button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(2px 2px 10px rgba(250, 224, 30, 0.9)) brightness(150%);
          filter: drop-shadow(2px 2px 10px rgba(250, 224, 30, 0.9)) brightness(150%);
}

.footer {
  font-size: .7em;
  margin-bottom: 10%;
}

.footer a {
  color: #222f78;
}
